body{
    background-color: black;
}
.container{
    text-align: center;
    margin-top: 50px;
    color: white;
}
input{
    border-radius: 10px;
    height:40px;
    border:3px solid;
    font-size: 25px;
}
table{
    margin:auto;
}
button{
    border-radius: 10px;
    font-size: 25px;
    width: 75px;
    height:55px ;
}
button:hover{
    transform: scale(1.1);
  transition: transform 0.3s; 
  background-color: #C8C6C5 ;
}